<!DOCTYPE html>

<head>
  <title>reversi</title>
</head>

<link rel="stylesheet" type="text/css" href="./style.css">
<div id="outer_div">

  <div class="options_div" id="game_mode_div">
    <button onclick="chooseGameMode('split_screen')">Split Screen</button>
    <br></br>
    <button onclick="chooseGameMode('multiplayer')">Multiplayer</button>
  </div>

  <div class="options_div" id="lobby_options_div" style="visibility:hidden;">
    <button onclick="createMatch()">Create Match</button>
    <br></br>
    <button onclick="searchMatches()">Search Match</button>
  </div>

  <div class="options_div" id="post_match_div" style="visibility:hidden;">
    <input id="match_name" value="match_name"></input>
    <br></br>
    <button onclick="postMatch(document.getElementById('match_name').value)">Post Match</button>
  </div>

  <div class="options_div" id="lobby_div" style="visibility:hidden;">
  </div>


  <!-- <div class="options_div" id="player_color_div" style="visibility:hidden;">
    <button onclick="chooseColor('white')">Play As Black</button>
    <br></br>
    <button onclick="chooseColor('black')">Play As White</button>
  </div> -->

  <div id="score_div">
    <h1>black score: <span id="black_score">2</span></h1>
    <br></br>
    <h1>white score: <span id="white_score">2</span></h1>
  </div>

  <div id="reversi_board"></div>
</div>

<script src="../script/game_two.js"></script>
